* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body, input, button {
  font-family: 'Trebuchet MS';
}

header {
  background-color: navy;
  color: white;
  text-align: center;
  padding: 80px 0px;
}

header div {
  background-color: white;
  color: navy;
  width: 30%;
  margin:60px auto 0 auto;
  border-radius: 5px;
  padding: 15px;
}

.big {
  font-size: 22px;
}

.small {
  font-size: 12px;
}

.small span {
  text-decoration: line-through;
}

section {
  text-align: center;
  padding: 60px 0;
}

section p {
  font-size: 12px;
}

section form {
  background-color: navy;
  border-radius: 5px;
  width: 80%;
  margin: 20px auto 0;
  padding: 15px;
}

section form input {
  width: 79%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightskyblue;

}

section form button {
  width: 19%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightskyblue;
  background-color: lightskyblue;
  font-weight: bold;
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 15px 0;

}

footer a {
  margin-right: 15px;
}
