
body {
  font-family: Arial ,sans-serif;
}

ul {
  list-style-type: none;
}

ul#menu {
  list-style: none;
  text-align: center;
  padding: 0;
  border-bottom: 3px solid #2CBCD6;
  position: relative;
}

ul#menu > li {
  display: inline-block;
  width: 15%;
  padding: 10px 0 ;
  font-weight: bold;
  color: #2CBCD6;
}

ul#menu > li:hover {
  background-color: #2CBCD6;
  color: white;
}

ul#menu div {
  position: absolute;
  background-color: #2CBCD6;
  width: 100%;
  left: 0;
  top:100%;
  display: none;
  color: white;
  font-weight: normal;
  /*padding: 20px 0;*/
}


ul#menu div ul {
  list-style: none;
  padding:20px 0;
  display: inline-block;
  width: 45%;
  margin-bottom: 20px 0;
  vertical-align: top;
}

ul#menu > li:hover div {
  display: block;
}

ul#menu div ul li:first-child {
  font-size: 20px;
  margin-bottom: 10px;
  color: #AFDEFA;
}
